body{

}
navbar{
    display: flex;
    justify-content:space-between;
    
}
.navigation{
    margin-left:50px;
}

#pricing{
    margin-right: 70px;
}
.maincontent{
    margin-top: 40px;
}
.text{
    text-align: center;
    font-size: large;
}
input{
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.getstarted{
    margin-top: 10px;
    text-align: center;
    background-color:#f1c40f;
    padding: 3px;
    width: 100px;
    margin: auto;
    display: block;
}

section{
    display:flex;
    margin-left: 300px;
    margin-right: 10px;
    margin-top: 50px;
}
.cont1{
    margin-left: 100px;
}

video{
    margin-left: 400px;
}

.indivisualsoptions{
    border: 2px solid black;
    margin-left: 5px;
    width: 250px;
    height: 250px;
    /* padding: 40px; */

}

.pricing{
    display: flex;
    justify-content: center;
}
.textcenterelements{
    text-align: center;
}

.name1{
     background-color: rgb(196, 193, 199);
     font-size: 20px;
     height: 30px;
     font-weight: bold;
}

button{
    background-color:#f1c40f;
    padding: 3px;
    width: 100px;
}

/* .icon-text{
    margin-left:50px;
    text-align:center;
} */

/* .icon{
   
} */

/* section{
    position:absolute;
    left:50%;
    top:50%;
} */